<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
    <link rel="stylesheet" href="/css/register.style.css"> 
    <script src = "/js/register.js" defer></script>
</head>
<body>
    <main>
        <div class="register-container">
            <h1>Sign-In</h1>
            <p>Please insert the information to create an account</p>
            <form id="register">
                <label for="user" class="sr-only">User</label>
                    <input 
                        type="text" 
                        name="user" 
                        id="user" 
                        placeholder="Username"
                    >
                <label for="password" class="sr-only">Password</label>
                    <input 
                        type="text" 
                        name="password" 
                        id="password" 
                        placeholder="Password"
                    >
                <button type="submit">Sign-In</button>
            </form>
            <p>Already have an account?:
                <a href="/login">Log-In</a>
            </p>
        </div>
    </main>
</body>
</html>